*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opsi {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(pasar.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

h1 {
    color: blanchedalmond;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    position:relative;
}
p {
    color: blanchedalmond;
}
.data {
    background-color: transparent;
    border: 2px solid blanchedalmond;
    text-align: center;
    width: 400px;
    height: 400px;
    position: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*.em, .pw {
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border: white;    text-transform: uppercase;
}*/
.form1 input[type = "text"], .form1 input[type = "password"]{
    background: none;
    border: 2px solid blanchedalmond;
    padding: 10px 5px;
    margin: 10px;
    color: blanchedalmond;
    border-radius: 24px;
    width: 200px;
    outline: none;
    text-align: center;
}

.form1 input[type = "text"]:focus, .form1 input[type = "password"]:focus {
    width: 250px;
}

.form1 input[type = "submit"]{
    background: none;
    border: 2px solid blanchedalmond;
    background-color: blanchedalmond;
    padding: 5px 3px;
    width: 100px;
    margin: 10px;
    color: grey;
    outline: none;
    text-align: center;
    text-transform: uppercase;
}

.form1 input[type = "submit"]:hover {
    background-color: transparent;
    color: blanchedalmond;
    transition: .5s;
    font-weight: 700;
}
